# VacationPy

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [4]:
city_df = pd.read_csv("clean_cities.csv")
city_df

,City,Lat,Lon,Temp(f),Humidity,Cloudiness,Wind Speed,Country
0,Ushuaia,-54.80,-68.30,44.60,81,40,9.17,AR
1,Tuatapere,-46.13,167.68,45.03,82,0,4.29,NZ
2,Norman Wells,65.28,-126.83,30.20,54,90,17.22,CA
3,Vaini,-21.20,-175.20,75.20,88,75,5.70,TO
4,Grand Gaube,-20.01,57.66,72.00,82,0,1.01,MU
...,...,...,...,...,...,...,...,...
545,Luganville,-15.53,167.17,78.80,78,90,3.36,VU
546,São Miguel do Iguaçu,-25.35,-54.24,64.40,68,0,3.36,BR
547,San Quintín,30.48,-115.95,66.94,69,79,9.10,MX
548,Awasa,7.05,38.47,60.42,83,29,3.11,ET
549,Vila,42.03,-8.16,66.00,63,0,8.05,PT

In [5]:
#create lat and lon dataframe
Lat_lon_df = city_df[['Lat','Lon']]
#create longitude/latitude array from new dataframe
array = Lat_lon_df.to_numpy()
#create list of temps
humidity =city_df['Humidity'].values.tolist()

In [13]:
# Customize the size of the figure
figure_layout = {
    'width': '300px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(map_type='SATELLITE')

In [7]:
#build the heat map
heatmap = gmaps.heatmap_layer(array,
                              max_intensity = 10
                             )
heatmap.weight = humidity

# Add the layer to the map
fig.add_layer(heatmap)
fig

#this doesnt feel right...

Figure(layout=FigureLayout(height='420px'))

In [8]:
city_df

,City,Lat,Lon,Temp(f),Humidity,Cloudiness,Wind Speed,Country
0,Ushuaia,-54.80,-68.30,44.60,81,40,9.17,AR
1,Tuatapere,-46.13,167.68,45.03,82,0,4.29,NZ
2,Norman Wells,65.28,-126.83,30.20,54,90,17.22,CA
3,Vaini,-21.20,-175.20,75.20,88,75,5.70,TO
4,Grand Gaube,-20.01,57.66,72.00,82,0,1.01,MU
...,...,...,...,...,...,...,...,...
545,Luganville,-15.53,167.17,78.80,78,90,3.36,VU
546,São Miguel do Iguaçu,-25.35,-54.24,64.40,68,0,3.36,BR
547,San Quintín,30.48,-115.95,66.94,69,79,9.10,MX
548,Awasa,7.05,38.47,60.42,83,29,3.11,ET
549,Vila,42.03,-8.16,66.00,63,0,8.05,PT

# Create new DataFrame fitting weather criteria

In [9]:
#clean df to cities with temps between 70-80
city_df = city_df.loc[city_df['Temp(f)']<80]
city_df = city_df.loc[city_df['Temp(f)']>70]

#clean df to cities with wind speed < 10
city_df = city_df.loc[city_df['Wind Speed']<10]

#clean df to cities with cloudiness = 0
city_df = city_df.loc[city_df['Cloudiness']==0]
city_df

,City,Lat,Lon,Temp(f),Humidity,Cloudiness,Wind Speed,Country
4,Grand Gaube,-20.01,57.66,72.00,82,0,1.01,MU
83,Tura,25.52,90.22,76.35,76,0,5.01,IN
130,Morón,-34.65,-58.62,77.00,43,0,1.01,AR
194,Yuxia,34.06,108.63,72.00,77,0,4.47,CN
244,Qiyang,26.59,111.85,73.69,88,0,2.28,CN
281,Pokhara,28.23,83.98,72.70,37,0,7.70,NP
310,Kikwit,-5.04,18.82,74.46,71,0,2.39,CD
329,Grand Baie,-20.02,57.58,72.00,82,0,1.01,MU
399,Lençóis Paulista,-22.60,-48.80,78.80,50,0,3.36,BR
459,Cap Malheureux,-19.98,57.61,72.00,82,0,1.01,MU
516,Dārāb,28.75,54.54,75.51,27,0,8.10,IR
535,Sain Alto,23.58,-103.25,78.82,13,0,6.91,MX

In [23]:
#create cities varaible, list with all city names
cities = city_df['City'].values.tolist()
cities[0]

'Grand Gaube'

In [21]:
#Google API 
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#for city in cities:
url = f"{base_url}input={cities[0]}&inputtype=textquery&key={g_key}"

response = requests.get(url)
print(response)
#response.json()

<Response [404]>

In [22]:
#test from activity. doesnt work either

##target_coordinates = "43.6187102, -116.2146068"
##target_search = "Chinese"
##target_radius = 8000
##target_type = "restaurant"

# set up a parameters dictionary
##params = {
#    "location": target_coordinates,
#    "keyword": target_search,
#    "radius": target_radius,
#    "type": target_type,
#    "key": g_key
#}

##response = requests.get(base_url, params=params)
##places_data = response.json()
##print(json.dumps(places_data, indent=4, sort_keys=True))

In [14]:
# cant figure out how to succesfully make api calls